<!-- *************************************************************************************** -->
<!-- Game dashboard with game info, beer calculator, and option of adding players -->
<!-- when player is added, buttons to remove player, take a turn, and "finish a beer" appear -->
<!-- *************************************************************************************** -->
<div class="container">	
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="row">
      <!-- Game info: title, description, number of players -->
    	 <h1 id="gameTitle"><%= @game.title %></h1>
    	 <h2 id="gameDescription"><%= @game.description %></h2>	
       <h2 id="playerCount">Number of Players: <span id="noOfPlayers"><%= @game.player.count %></span></h2>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <!-- beer calc trigger -->
          <button class="btn" id="beerCalculator"><a data-toggle="modal" href="#beerCalcModal">We Need How Many Beers?!?</a></button>
        </div>
        <div class="col-xs-12 col-md-12">
          <!-- ends game and takes user back to their profile -->
          <button class="btn" id="gameOver"><a href="/profile">Game Over!</a></button>
        </div>
      </div>
      <!-- beer calc modal -->
      <div class="modal fade" id="beerCalcModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h2 class="modal-title">Beer Calculator</h2>
            </div>
            <div class="modal-body">
              <p id="beerModalText"></p>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
    </div>
    <div class="col-xs-12 col-md-6">
    <!-- players column/section (on mobile) -->
    <h1 class="text-center" id="playersHeader">Players</h1>
    <!-- DB display function -->
  	<% @game.player.each do |player| %>
    	<div class="well"> 
        <div class="row">
          <div class="col-xs-6">
            <!-- player info: alias, username, number of beers consumed -->
            <h2 id="alias"><%= player.alias %> <small>(<%= player.username %>)</small></h2>
            <p id="consumed"><%= player.beers %> beers consumed</p>
          </div>
          <div class="col-xs-6">
            <div class="row">
              <!-- button that takes user to turn options -->
                <button class="btn pull-right" id="takeTurn"><a href="/turn/index">Take a Turn</a></button>
            </div>
            <div class="row">
              <!-- increases beer count when player finishes a beer -->
                <%= link_to 'Finished a Beer!', player_path(player), url: game_path, method: :patch, class: "btn pull-right", id: "beerDone" %>
            </div>
            <div class="row">
              <!-- removes player -->
                <%= link_to 'Remove Player', player_path(player), method: :delete, class: "btn pull-right", id: "playerDelete" %>
            </div>
          </div>
        </div>    
    	</div>
  	<% end %>
      <div class="row">
        <!-- add player trigger -->
        <button class="btn center-block" id="addPlayerBtn"><a data-toggle="modal" href="#addPlayerModal">Add Player</a></button>
      </div>
    </div>
  </div>
	<!-- add player modal -->
  <div class="modal fade" id="addPlayerModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h2 class="modal-title">Add Player</h2>
        </div>
        <div class="modal-body">
          <!-- form for new player -->
          <%= bootstrap_form_for :player, url: "/players" do |f| %>
          <%= bootstrap_form_for :player, url: game_path do |f| %>
            <!-- add player username -->
				    <%= f.text_field :username %>
            <!-- add an optional alias -->
            <%= f.text_field :alias %>
            <%= hidden_field_tag(:game_id, @game.id) %>
          <!-- add player button -->
				  <%= f.primary 'Add', id:"playerAdd" %>
         <% end %> 
		     <% end %>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>	
