<!-- dashboard of current game with players/aliases, and number of beers they've finished along with a button for taking a turn AND a beer button, delete button for players -->
<div class="container">	
	<h1><%= @game.title %></h1>
	<h2><%= @game.description %></h2>	
	<% @game.player.each do |player| %>
	<div class="well">
			<h2><%= player.username %> <%= player.alias %></h2>
			<p><%= player.beers %></p>
	</div>
	<% end %>

	<!-- sign up trigger -->
    <a class="btn" data-toggle="modal" href="#addPlayerModal">Add Player</a>
    <!-- sign up modal -->
    <div class="modal fade" id="addPlayerModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Add Player</h4>
          </div>
          <div class="modal-body">
            <%= bootstrap_form_for :player, url: "/players" do |f| %>
  				<%= f.text_field :username %>
          <%= hidden_field_tag(:game_id,@game.id) %>
            <%= bootstrap_form_for :player, url: game_path do |f| %>
  				    <%= f.text_field :username %>

  				  <%= f.primary 'Add Player' %>
			     <% end %>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>	
