<!-- dashboard of current game with players/aliases, and number of beers they've finished along with a button for taking a turn AND a beer button, delete button for players -->
<div class="container">	
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="row">
    	 <h1 id="gameTitle"><%= @game.title %></h1>
    	 <h2 id="gameDescription"><%= @game.description %></h2>	
       <h2 id="playerCount">Number of Players: <span id="noOfPlayers"><%= @game.player.count %></span></h2>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <!-- beer calc trigger -->
          <button class="btn" id="beerCalculator"><a data-toggle="modal" href="#beerCalcModal">We Need How Many Beers?!?</a></button>
        </div>
        <div class="col-xs-12 col-md-12">
          <!-- button that takes user to turn options -->
          <button class="btn" id="takeTurn"><a href="/turn/index">Take a Turn</a></button>
        </div>
        <div class="col-xs-12 col-md-12">
          <!-- ends game and takes user back to their profile -->
          <button class="btn" id="gameOver"><a href="/profile">Game Over!</a></button>
        </div>
      </div>
      <!-- beer calc modal -->
      <div class="modal fade" id="beerCalcModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h2 class="modal-title">Beer Calculator</h2>
            </div>
            <div class="modal-body">
              <p id="beerModalText"></p>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
    </div>
    <div class="col-xs-12 col-md-6">
    <h1 class="text-center" id="playersHeader">Players</h1>
  	<% @game.player.each do |player| %>
    	<div class="well"> 
        <div class="row">
        <!--   <button id="">Finished a Beer!</button> -->
          <div class="col-xs-8">
            <h2><%= player.alias %> <small>(<%= player.username %>)</small></h2>
    			  <p><%= player.beers %> beers consumed</p>
            <!-- increases beer count when player finishes a beer -->
            <%= link_to 'Finished a Beer!', player_path(player), method: :put, class: "btn", id: "beerDone" %>
          </div>
          <div class="col-xs-4">
            <%= link_to 'Remove Player', player_path(player), method: :delete, class: "btn", id: "playerDelete" %>
          </div>
        </div>    
    	</div>
  	<% end %>
    <!-- add player trigger -->
    <button class="btn center-block" id="addPlayerBtn"><a data-toggle="modal" href="#addPlayerModal">Add Player</a></button>
    </div>
  </div>
	<!-- sign up modal -->
  <div class="modal fade" id="addPlayerModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h2 class="modal-title">Add Player</h2>
        </div>
        <div class="modal-body">
          <%= bootstrap_form_for :player, url: "/players" do |f| %>
          <%= bootstrap_form_for :player, url: game_path do |f| %>
				    <%= f.text_field :username %>
            <%= f.text_field :alias %>
            <%= hidden_field_tag(:game_id, @game.id) %>

				  <%= f.primary 'Add', id:"playerAdd" %>
         <% end %> 
		     <% end %>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>	
