<%= bootstrap_form_for :user, url: login_path do |f| %>
  <%= f.email_field :email %>
  <%= f.password_field :password %>

  <%= f.primary 'Log In' %>
<% end %>

<div id="logInOr">
<h4>OR</h4>
</div>
<div id="fbButtonLogIn">
<%= link_to "Log In with Facebook", "/auth/facebook", class: "btn btn-primary" %>
</div>