<!-- user profile with create game option and join game option if they've been added and a list of the past games they've created or participated in -->
<div class="container">
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2">
			<!-- @username will be changed to current_user.name later -->
			<h1 class="text-center" id="profileHeader">Hi, <%= @current_user.username %>!</h1>
		</div>	
	</div>
	<div class="row">
		<!-- button to create new game (hidden if user has been invited to join game) -->
		<div class="col-xs-8 col-xs-offset-2">
			<!-- <a class="btn btn-default center-block" href="/game/new" role="button" id="newGameBtn">Create a New Game</a> -->
			<%= link_to 'Create a New Game', new_game_path, class: 'btn btn-default center-block', id: 'newGameBtn' %>
		</div>
	</div>
	<!-- past games view for games player has participated in -->
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2">
			<h2 class="text-center" id="yourGames">Your Games</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<% @current_user.game.each do |game| %>
				<div class="well">
					<h2><%= link_to game.title, game, id: "gameLink" %></h2>
					<h3><%= game.description %></h3>
					<p>Created by: <%= game.user.username %> on <%= game.created_at %></p>
				</div>
			<% end %>
		</div>
	</div>
</div>
